
.gradle/4.0/fileHashes/fileHashes.bin

.gradle/4.0/fileHashes/fileHashes.bin

.gradle/4.0/fileHashes/fileHashes.lock

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/dataSources/8ae3d5ad-e1ea-4c82-92f1-46fa3f0471bb.xml

.idea/misc.xml

.idea/workspace.xml

.idea/modules/HotTalkerWeb_main.iml

.idea/vcs.xml

.idea/dataSources/8ae3d5ad-e1ea-4c82-92f1-46fa3f0471bb.xml

.idea/dataSources.xml

.gradle/4.0/fileHashes/fileHashes.lock

.gradle/4.0/fileHashes/fileHashes.bin
.gradle/4.0/fileHashes/
.idea/dataSources/
src/test/

.idea/modules.xml

.idea/modules/HotTalkerWeb.iml
